@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Reset css view screen */
.Container {
  width: 100vw;
  height: 100vh;
}

/* Config Form authen info */
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.register-container,
.login-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1280px) {
  .login-container {
    max-width: 100%;
  }
  .login {
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin-top: 10%;
  }
  .login-bg {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: absolute;
  }

  .register-container {
    max-width: 100%;
    /* flex-direction: column-reverse; */
  }
  .register {
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin-top: 10%;
  }
  .register-bg {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: absolute;
  }
}

@media screen and (max-width: 750px) {
  .register,
  .login {
    max-width: 100%;
  }

  .register {
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin-top: 20%;
  }
}

/* Config Admin Dashboard */